*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    margin-top: 20px;
}

.container-form{
    border: 1px solid red;
    height: 200px;
    
}
.buttons{
    text-align: center;
    
}

.biglietto{
    text-align: center;
    margin: 20px 0px;
}

.container{
    display: flex;
    justify-content: space-around;
}

